<ion-header>
  <ion-toolbar>
    <ion-title>Shared State Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-login></app-login>
  <ion-item *ngIf="toggleLoadMore">
    <ion-button (click)="loadMore()">More</ion-button>
  </ion-item>
  <ion-list-header>
    <ion-label>Posts</ion-label>
  </ion-list-header>
  <ion-list *ngFor="let post of posts$ | async">
    <ion-item [id]="post.id" onclick="console.log(id)">
      <ion-label>
        text : {{ post.title }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        body : {{ post.body }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
