<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="roles" [(ngModel)]="roles"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="addMember()">Add Member</ion-button>
  </ion-item>
  <ion-list-header>
    <ion-label>Members</ion-label>
  </ion-list-header>
  <ion-list *ngFor="let member of members$ | async">
    <ion-item>
      <ion-label>
        name : {{ member.name }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        roles : {{ member.company.bs }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
