<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input type="text" [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Body</ion-label>
    <ion-input type="text" [(ngModel)]="body"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>User Id</ion-label>
    <ion-input type="number" [(ngModel)]="userId"></ion-input>
  </ion-item>
  <ion-button (click)="onSubmit()" expand="full">Send post</ion-button>

  <ion-list *ngFor="let post of posts$ | async">
    <ion-item [id]="post.id" (click)="displayAction(post.id)">
      <ion-label>
        text : {{ post.title }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        body : {{ post.body }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
