<ion-tabs>
    <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
        <ion-router-outlet name="about"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
        <ion-router-outlet name="contact"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Settings" icon="settings" href="/tabs/(settings:settings)">
        <ion-router-outlet name="settings"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Shared" icon="call" href="/tabs/(shared:shared)">
        <ion-router-outlet name="shared"></ion-router-outlet>
    </ion-tab>
</ion-tabs>
